<ion-view view-title="Users">
  <ion-content>
    <div class="add-record">
      <div class="card list">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Name" ng-model="user.username">
          </label>
          <button class="button button-small" ng-click="save()">
            Submit
          </button>
        </div>
      </div>
    </div>
    <ion-list>
      <ion-item class="item item-avatar" ng-repeat="user in users" href="#">
        <i class="icon ion-ios-person"></i>
        <h2>{{user.name}}</h2>
        <p>Back off, man. I'm a scientist.</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
