<ion-view view-title="Accounts" cache-view="false">
  <ion-content>
    <div class="card" ng-hide="users.length">
      <div class="item item-text-wrap">
       User Accounts Not Availables , Please add it.
      </div>
    </div>
    <ion-list>
      <ion-item class="item item-avatar" ng-repeat="user in users" href="#/tab/account/{{user.userid}}">
        <i class="icon ion-ios-person"></i>
        <h2>{{user.name}}</h2>
        <p>{{user.status}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <!-- Button Starts -->
  <div class="float-button" ng-click="addUser()">
    <span class="height-fix">
	   		<a class="content">
	    		<i class="ion-ios-plus-empty"> </i>
	   		</a>
	  	</span>
  </div>
  <!-- Button Ends -->
</ion-view>
