<ion-modal-view class="add-user-modal">
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Add Bank Details</h1>
    <button class="button button-clear button-primary ion-ios-close modal-close-button" ng-click="modal.hide()"></button>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="list list-inset">
        <label class="item item-input">
            <i class="icon ion-ios-person-outline placeholder-icon"></i>
            <input type="text" ng-model="newBank.bank_name" placeholder="Bank Name">
         </label>
          <label class="item item-input">
              <i class="icon ion-ios-pricetags-outline placeholder-icon"></i>
              <input type="text" ng-model="newBank.account_number" placeholder="Account Number">
           </label>
           <label class="item item-input">
               <i class="icon ion-ios-email-outline placeholder-icon"></i>
               <input type="text" ng-model="newBank.branch_name" placeholder="Branch Name">
            </label>
            <label class="item item-input">
                <i class="icon ion-iphone placeholder-icon"></i>
                <input type="text" ng-model="newBank.branch_address" placeholder="Branch Address">
           </label>
           <label class="item item-input">
               <i class="icon ion-ios-unlocked-outline placeholder-icon"></i>
               <input type="text" ng-model="newBank.ifsc_code" placeholder="IFSC Code">
          </label>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-balanced" ng-click="addBank()">
    <h1 class="title">Add</h1>
  </ion-footer-bar>
</ion-modal-view>
