/* Empty. Add your own CSS if you like */

.item-avatar i:first-child, .item-avatar .item-img {
  position: absolute !important;
  top: 15px !important;
  left: 15px !important;
  font-size: 36px !important;
  max-width: 40px !important;
  max-height: 40px !important;
  width: 100% !important;
  border-radius: 4px !important;
}


/* Empty. Add your own CSS if you like */
.float-details-button{
  background-color: #6b46e5 !important;
}
.float-button {
  background-color: #303f9f;
  opacity: 0.9;
  color: white;
  border-radius: 50%;
  /*border-radius:15% 0 0 0;*/
  width: 30px;
  padding: 25px;
  font-size: 40px;
  position: fixed;
  bottom: 10%;
  /* Adjust height */
  right: 5%;
  /* Adjust position */
  z-index: 1000;
}

.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}
.add-user-modal {
    width: 80% !important;
    height: auto !important;
    min-height: 20% !important;
    left: 10% !important;
    right: 10% !important;
    top: 18% !important;
    bottom: 10% !important;
}
.modal-close-button{
  font-size: 40px !important;
}
